html{
    font-size: 100% !important;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
    color: hsl(207, 28%, 79%);
}
body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 1%, 20%);
}
main{
    
}
main > section {
    width: 80%;
    margin-inline: 0 !important;
}