html{
    font-size: 100% !important;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
body{
    margin: 0;
    padding: 0;
}
main{
    margin-inline: 0;
    width: 100%;
}
main > section {
    width: 50% !important;
    height: 70vh !important;
    margin-inline: auto !important;
    border: 2px solid #fff;

}
main > section > form {
    width: 50%;
    margin-inline: auto !important;
    display: flex !important;
    flex-direction: column;
}
main > section > form h2 {
 margin-bottom: 20px;
}
main > section > form .controls .formgroup{
 margin-bottom: 20px;
  
}
main > section > form .controls .formgroup *{
    display: block;
}