html{
    font-size: 100% !important;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
    color: hsl(207, 28%, 79%);
}
body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 1%, 20%);
}
main{
    margin-inline: 0;
}
main > section {
    width: 100%;
    background-color: aqua;
}
main > section > form {
    margin: auto 0 !important;
}